<h2>Account Settings</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name, label: "First Name", required: false %>
  <%= f.input :last_name, label: "Last Name", required: false %>
  <%= f.input :email %>
  <%= f.input :cal_type, label: "Calendar Type", :collection => ['Outlook', 'GCal', 'iCal', 'Thunderbird'], as: :radio_buttons %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password, autocomplete: "off" %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <i class="icon-edit"></i> Update
    </button>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %></p>

<%= link_to "Back", :back %>
