<tr>
  <td><%= skedl.description %></td>
  <td><%= skedl.cal_type %></td>
  <td><%= link_to 'Show', skedl %></td>
  <td><%= link_to 'Edit', edit_skedl_path(skedl) %></td>
  <td><%= link_to 'Delete', skedl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>