<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Skedl", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page?(new_skedl_path) %>">
            <%= link_to "<i class=\"icon-plus\"></i> New Skedl".html_safe, new_skedl_path %>
          </li>
          <li class="<%= 'active' if current_page?(skedls_path) %>">
            <%= link_to "<i class=\"icon-calendar\"></i> Open Skedls".html_safe, skedls_path %>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="<%= 'active' if current_page?(edit_user_registration_path) %>">
              <%= link_to "<i class=\"icon-cogs\"></i> Account".html_safe, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "<i class=\"icon-unlock\"></i> Logout".html_safe, destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#login"><i class="icon-lock"></i> Login</a>
              <ul class="dropdown-menu" style="padding: 20px">
                <%= render 'devise/sessions/loginmodal' %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
 
    </div>
  </div>
</div>